<h3>New Pokemon</h3>

<form action="/pokemons" method="post">
  <label>Name: </label>
  <input type="text" name="name">
  <label>Pokemon Type: </label>
  <input type="text" name="poke_type">
  <label>CP</label>
  <input type="text" name="cp">
  <label>Image</label>
  <input type="text" name="img_url">
  <input type="submit" value="Create Pokemon">

</form>
