<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/pokestyle.css" charset="utf-8">
  <title>Gotta catch em all!</title>
</head>
<body>
  <header>
    <h3><a href="/">Pokemons</a>
    </h3>
  </header>
  <div class="holder">
    <%= yield %>
  </div>
</body>
</html>
